@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Add Josefin Sans to the theme variables if you plan to use it in Tailwind */
  --font-josefin-sans: var(--font-josefin-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Apply Josefin Sans using its CSS variable, with fallbacks */
  font-family: var(--font-josefin-sans), Arial, Helvetica, sans-serif;
}

/* Navigation arrows of */
.swiper-button-next,
.swiper-button-prev {
  width: 16px !important;
  height: 16px !important;
  color: #000 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
}
